.input {
  box-sizing: border-box;
  width: 185px;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-blue-dark);
  border: 1px solid var(--color-grey);

  &:focus {
    outline: none;
  }
}
