:root {
  --color-text: #242424;
  --color-blue: #599cd3;
  --color-blue-light: #c3e0f8;
  --color-blue-dark: #226aa5;
  --color-background: #fff;
  --color-grey: #cbcbcc;
}

#root {
  width: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
p,
ul {
  padding: 0;
  margin: 0;
}
